
@{
    ViewData["Title"] = "CuidandoYCompartiendoLaMesa";
}


<div class="position-relative text-center mb-5">
    <img src="~/imagenes/CompartiendoMesa.jpg" alt="foto monjita" class="w-100 m-auto" />
    <h1 class="titulo-superpuesto2 w-25">
        Cuidando y <br>
        Compartiendo la Mesa
    </h1>
</div>


<div>
    <div class="row w-100">
        <div class="col p-3">
           <h3 class="title2">Cuidando y compartiendo la Mesa</h3>
            <div class="container w-75 m-auto p-2" style="background-color:#f5ebdd;">
                <p class="textprogramas fs6">
                    Cuida, comparte y acompaña: sirve con cariño, limpia con respeto y convierte cada comida en un acto de amor hacia los adultos mayores.
                </p> 
           </div>

            <div class=" w-100 m-auto  p-3">
                <p class="textprogramas fs6">
                    Aquí ayudarás directamente a los adultos mayores: servirás la comida con cariño, recogerás los platos al terminar y colaborarás en el lavado y limpieza.
                    Cada acción refleja cuidado y respeto, creando un ambiente ordenado y acogedor donde se sientan valorados.
                </p>
           </div>

       </div>
        <div class="col p-3 text-end pe-0">
            <img src="~/imagenes/lavandoPlatos.jpg"  class="img-fluid"/>
        </div>
    </div>
    <div class="m-2 text-center">
        <a class="btn button2" asp-controller="Home" asp-action="Formulario">!QUIERO UNIRME¡</a>
    </div>
</div>
