
@{
    ViewData["Title"] = "CuidandoYCompartiendoLaMesa";
}


<div class="position-relative text-center">
    <img src="~/imagenes/CompartiendoMesa.jpg" alt="foto monjita" class="h-75 w-100 m-auto" />
    <h1 class="titulo-superpuesto2">
        Cuidando y <br>
        Compartiendo la Mesa
    </h1>
</div>


