
@{
    ViewData["Title"] = "CuidandoYCompartiendoLaMesa";
}


<div class="position-relative text-center mb-5">
    <img src="~/imagenes/comiendo-con-ancianos.jpg" alt="foto monjita" class="w-100 m-auto rounded" />
    <h1 class="titulo-superpuesto2 mb-4">
        Cuidando y Compartiendo la Mesa
    </h1>
</div>


<div class="container">
    <div class="row w-100">
        <div class="col p-1">
            <h3 class="title2 mb-4 text-start ">Cuidando y Compartiendo la Mesa</h3>
            <div class="container w-100 m-auto text2 p-2 mb-4" style="background-color:#f5ebdd; border-radius:10px;">
                <p class="textprogramas fs-6 text-start">
                    Cuida, comparte y acompaña: sirve con cariño, limpia con respeto y convierte cada comida en un acto de amor hacia los adultos mayores.
                </p>
            </div>

            <div class="container w-100 m-auto p-3">
                <p class="textprogramas fs6">
                    Aquí ayudarás directamente a los adultos mayores: servirás la comida con cariño, recogerás los platos al terminar y colaborarás en el 
                    lavado y limpieza. Cada acción refleja cuidado y respeto, creando un ambiente ordenado y acogedor donde se sientan valorados.
                </p>

            </div>
            <div class=" d-flex justify-content-between">
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-chat-heart m-2"></i>
                    <p class="mb-0 fs-6 fw-bold textoIcono">Vocación de servicio</p>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-emoji-laughing m-2"></i>
                    <p class="mb-0 fs-6 fw-bold textoIcono">Paciencia y compromiso</p>
                </div>
            </div>

        </div>
        <div class="col p-3 text-center">
            <img src="~/imagenes/CuidandoCompartiendoComida.jpg" class="img-fluid mb-3 w-75 rounded" />
            <div class="text-center">
                <a class="btn button2 text-center fs-6" asp-controller="Home" asp-action="Formulario">¡QUIERO UNIRME!</a>
            </div>

        </div>

    </div>

</div>
