@{
    ViewData["Title"] = "EquipoDifusion";
}


<div class="position-relative text-center mb-5">
    <img src="~/imagenes/CompartiendoMesa.jpg" alt="foto monjita" class="w-100 m-auto" />
    <h1 class="titulo-superpuesto2 w-25">
        Equipo de difusión
    </h1>
</div>


<div class="container">
    <div class="row w-100">
        <div class="col p-3">
            <h3 class="title2">Cuidando y compartiendo la Mesa</h3>
            <div class="container w-75 m-auto p-2 text2" style="background-color:#f5ebdd;">
                <p class="text2">
                    Inspira, motiva y difunde:  Jóvenes que promueven el voluntariado del Asilo Lira y llevan su mensaje de servicio a la comunidad.
                </p>
            </div>

            <div class="container w-100 m-auto text2 p-3">
                <p class="text2">
                    Aquí serás parte del equipo de difusión: jóvenes que inspiran a otros, promueven el voluntariado del Asilo Lira y comparten su mensaje en colegios, 
                    universidades y entidades gubernamentales. Con creatividad y entusiasmo, difundirás actividades, 
                    motivarás a más personas a unirse y darás a conocer la importancia de acompañar y cuidar a los adultos mayores.
            </div>

        </div>
        <div class="col p-3">
            <img src="~/imagenes/lavandoPlatos.jpg" class="img-fluid" />
        </div>
    </div>
    <div class="m-2 text-center">
        <a class="btn button2">!QUIERO UNIRME¡</a>
    </div>
</div>
