@{
    ViewData["Title"] = "EquipoDifusion";
}


<div class="position-relative text-center mb-5">
    <img src="~/imagenes/EquipoDifusion3.jpg" alt="foto monjita" class="w-100 m-auto" />
    <h1 class="titulo-superpuesto2 w-25">
        Equipo de difusión
    </h1>
</div>



<div class="container">
    <div class="row w-100">
        <div class="col p-1">
            <h3 class="title2 mb-4 text-start ">Equipo de difusión</h3>
            <div class="container w-100 m-auto text2 p-2 mb-4" style="background-color:#f5ebdd; border-radius:10px;">
                <p class="textprogramas fs-6 text-start">
                    Inspira, motiva y difunde:  Jóvenes que promueven el voluntariado del Asilo Lira y llevan su mensaje de servicio a la comunidad.
                </p>
            </div>

            <div class="container w-100 m-auto p-3">
                <p class="textprogramas fs6 ">
                    Aquí serás parte del equipo de difusión: jóvenes que inspiran a otros, promueven 
                    el voluntariado del Asilo Lira y comparten su mensaje en colegios, universidades y entidades gubernamentales. Con creatividad y 
                    entusiasmo, difundirás actividades, motivarás a más personas a unirse y darás a 
                    conocer la importancia de acompañar y cuidar a los adultos mayores.
                </p>

            </div>
            <div class=" d-flex justify-content-between">
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-chat-heart m-2"></i>
                    <p class="mb-0 fs-6 fw-bold textoIcono">Habilidades blandas</p>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-emoji-laughing m-2"></i>
                    <p class="mb-0 fs-6 fw-bold textoIcono">Carreras de marketing y publicidad</p>
                </div>
            </div>

        </div>
        <div class="col p-3 text-center">
            <img src="~/imagenes/equipoDifusion2.jpg" class="img-fluid mb-3 w-75 rounded" />
            <div class="text-center">
                <a class="btn button2 text-center fs-6" asp-controller="Home" asp-action="Formulario">¡QUIERO UNIRME!</a>
            </div>

        </div>

    </div>

</div>
