@{
    ViewData["Title"] = "ManosTierraVida";
}


<div class="position-relative text-center mb-5">
    <img src="~/imagenes/CompartiendoMesa.jpg" alt="foto monjita" class="w-100 m-auto" />
    <h1 class="titulo-superpuesto2 w-25">
        Manos en la tierra y cuidado de la vida
    </h1>
</div>


<div class="container">
    <div class="row w-100">
        <div class="col p-3">
            <h3 class="title2">Manos en la tierra y cuidado de la vida</h3>
            <div class="container w-75 m-auto p-2 text2" style="background-color:#f5ebdd;">
                <p class="text2">
                    Cuida, siembra o atiende: Jóvenes que siembran o cuidan plantas, atienden animales y fomentan un entorno más verde y lleno de vida dentro del asilo.
                </p>
            </div>

            <div class="container w-100 m-auto text2 p-3">
                <p class="text2">
                    En este equipo podrás conectar directamente con la naturaleza y poner en práctica lo que más te apasiona.
                    Tendrás la opción de elegir entre cuidar y cultivar plantas, o dedicarte al cuidado de los animales. 
                    Sea cual sea tu elección, estarás aportando con tu esfuerzo a un entorno más sano, sostenible y lleno de vida.
                </p>
            </div>

        </div>
        <div class="col p-3">
            <img src="~/imagenes/lavandoPlatos.jpg" class="img-fluid" />
        </div>
    </div>
    <div class="m-2 text-center">
        <a class="btn button2">!QUIERO UNIRME¡</a>
    </div>
</div>
