

body {
    margin: 0;
    padding: 0.25rem;
    background: radial-gradient( circle at 0% 0%, 
    #f5ebdd, 
    #e07b5a, 
    #fde68a 
    );
    font-family: Arial, sans-serif;
}
.title1 {
    margin: 3rem;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #4b4b4b;
}

.title2 {
    margin: 3rem;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #5c4033;
}

.button {
    color: #4b4b4b;
    background-color: #c4b9ab;
    border: 0px;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    box-shadow: -2px 1.5px 1px rgba(0,0,0,0.3);
    font-weight:bold;
}

.button:hover {
    background-color: #e07b5a; 
    color: #fff; 
    box-shadow: -3px 3px 6px rgba(0,0,0,0.4);
}

/*PARA EL INICIO DE HOMEINDEX - MONJITAS*/

/* imágenes como fondo atenuado */
.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-bg {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(60%); /* oscurece la imagen */
}


/* Título encima de TODO */
.titulo-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 4rem;
    color: #f5ebdd;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    z-index: 10;
}
    
/*Texto o parrafo general*/
.texto {
    font-family: "Mulish", sans-serif;
    text-align: justify;
}

/*testo degradado*/
.texto-wrapper {
    position: relative;
    overflow: hidden;
}

.texto-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.05), /* más claro arriba */
        rgba(0, 0, 0, 0.05), /* intermedio */
        rgba(0, 0, 0, 0.05) /* más claro abajo */
    );
    border-radius: 10px;
}
/*Efecto de voltear la tarjeta*/
.flip-card {
  background: transparent;
  width: 100%;
  height: 250px;
  perspective: 1000px; /* Necesario para 3D */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-back {
  background-color: #f5ebdd;
  color: #333;
  transform: rotateY(180deg);
}


