
@{
    ViewData["Title"] = "Formulario";
}

<div class="container m-5">
    <div class="row">

        <div class="col p-2">
            <h1 class="text-center title2">Ingresa tus datos para ser parte de Team Lira</h1>
            <div class="mt-5">
                <ul class="mt-4 text-center">
                    <li class="text3" style="list-style-type: none;">
                        Inspira a tu generación
                    </li>
                    <li class="text3" style="list-style-type: none;">
                        Se parte de un movimiento
                    </li>
                    <li class="text3 " style="list-style-type: none;">
                        Obtén un certificado
                    </li>
                </ul>
            </div>

        </div>

        <div class="col pt-4">
            <form asp-action="Formulario" asp-controller="Home">
                asdasda
            </form>
        </div>

    </div>
</div>

