
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center position-relative">
    <div class="row">
        <div class="col ">
            <img src="~/imagenes/mojita.jpeg" alt="foto monjita" class="img-bg w-75" />
        </div>
        <div class="col " style="padding: 7rem 0;">
            <img src="~/imagenes/mojita.jpeg" alt="foto monjita" class="img-bg w-75" />
        </div>
    </div>

    <!-- Texto encima de las imágenes -->
    <h1 class="titulo-superpuesto">
        ¿QUÉ ES <br>
        TEAM LIRA?
    </h1>
</div>

