
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center position-relative" style="margin-top:1rem;">
    <div class="row">
        <div class="col ">
            <img src="~/imagenes/mojita.jpeg" alt="foto monjita" class="img-bg w-50 ms-auto d-block" />
        </div>
        <div class="col" style="padding:3.5rem 0 0 1rem;">
            <img src="~/imagenes/mojita.jpeg" alt="foto monjita" class="img-bg w-50" />
        </div>
    </div>

    <!-- Texto encima de las imágenes -->
    <h1 class="titulo-superpuesto" style="margin:0.5rem;">
        ¿QUÉ ES <br>
        TEAM LIRA?
    </h1>
</div>


<div class="container text-center" style="margin:5rem 0 0 0;">
    <div class="row align-items-center">
        <div class="col w-50 text-center">
            <img src="~/imagenes/voluntarioManos.jpg" class="img-fluid"/>
        </div>
        <div class="col texto-wrapper" style="padding:3rem;">
            <p class="text-black texto" style="text-align: justify;">
                Team Lira es un programa de voluntariado dirigido a jóvenes estudiantes, profesionales o cualquier persona con deseo de compartir su tiempo con adultos mayores del Asilo Lira. <br/>
                <br/>
                El compromiso es de 1 mes, con un mínimo de 2 horas diarias, dos veces por semana, en horarios flexibles.<br />
                <br/>
                Al culminar, cada voluntario recibirá un certificado de participación avalado por... , reconociendo su entrega y apoyo a la comunidad.<br/>
            </p>
        </div>
    </div>
</div>

<div class="container text-center my-5">
    <div class="text-center m-2 mb-4">
        <h2 class="title2">Así podrás contribuir con nosotros</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center justify-content-center">
                        <img src="~/imagenes/CompartiendoMesa.jpg" class="img-fluid rounded" alt="Imagen">
                    </div>
                    <div class="flip-card-back d-flex align-items-center justify-content-center">
                        <div class="p-4">
                            <h5 class="fw-bold title3">Cuidando y Compartiendo la Mesa</h5>
                            <p class="text-center text2">
                                Sirve la comida, recoge y limpia con cariño, porque cada detalle refleja amor hacia los adultos mayores.
                            </p>
                            <a src="#" class="btn button">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center justify-content-center">
                        <img src="~/imagenes/Difusion.jpg" class="img-fluid rounded" alt="Imagen">
                    </div>
                    <div class="flip-card-back d-flex align-items-center justify-content-center">
                        <div class="p-4">
                            <h5 class="fw-bold title3">Equipo de difusión</h5>
                            <p class="text-center text2">
                                Jóvenes que inspiran y promueven el voluntariado del Asilo Lira en su comunidad.
                            </p>
                            <a src="#" class="btn button">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center justify-content-center">
                        <img src="~/imagenes/Agronomia.jpg" class="img-fluid rounded" alt="Imagen">
                    </div>
                    <div class="flip-card-back d-flex align-items-center justify-content-center">
                        <div class="p-4">
                            <h5 class="fw-bold title3">Manos en la tierra y cuidado de la vida</h5>
                            <p class="text-center text2">Cuidarás plantas o animales, uniendo veterinaria, zootecnia y agronomía.</p>
                            <a src="#" class="btn button">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center justify-content-center">
                        <img src="~/imagenes/AmigosCorazon.jpg" class="img-fluid rounded" alt="Imagen">
                    </div>
                    <div class="flip-card-back d-flex align-items-center justify-content-center">
                        <div class="p-4">
                            <h5 class="fw-bold title3">Amigos de corazón</h5>
                            <p class="justify-content-center text2">Conversa, acompaña y ayuda a los adultos mayores: un momento de escucha puede convertirse en un recuerdo inolvidable.</p>
                            <a src="#" class="btn button">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

