@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title1" >TUS DONES SON SEMILLAS DE ESPERANZA PARA AQUELLOS QUE LO NECESITAN.</h1>
    <a class="btn button" asp-controller="Home" asp-action="HomeIndex">Empezar</a>
</div>


