@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title1" >TUS DONES SON SEMILLAS DE ESPERANZA PARA AQUELLOS QUE LO NECESITAN.</h1>
    <button class="btn button">Empezar</button>
</div>


