
@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="container text-center position-relative mb-5" style="margin-top:1rem;">
    <div class="row">
        <div class="col ">
            <img src="~/imagenes/mojita.jpeg" alt="foto monjita" class="img-bg w-50 ms-auto d-block" />
        </div>
        <div class="col" style="padding:3.5rem 0 0 1rem;">
            <img src="~/imagenes/mojita.jpeg" alt="foto monjita" class="img-bg w-50" />
        </div>
    </div>

    <!-- Texto encima de las imágenes -->
    <h1 class="titulo-superpuesto" style="margin:0.5rem;">
        Sobre <br>
        Nosotros
    </h1>
</div>


<div class="container ">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center text2">
            <p class="texto-wrapper" style="padding:3rem;">
                El Asilo Lira abrió sus puertas en 1921 como un refugio para los adultos mayores más vulnerables en la ciudad de Arequipa.<br />

                Gracias a la visión solidaria de don Víctor F. Lira y al compromiso de las Hermanitas de los Ancianos Desamparados, 
                desde 1940 brinda cuidado, compañía y dignidad a quienes no tienen un hogar. <br />

                Su misión sigue viva: ofrecer amor y esperanza a nuestros abuelitos más necesitados. <br />
            </p>
        </div>
        <div class="col">
            <img src="~/imagenes/lavandoPlatos.jpg" class="w-100" />
        </div>
    </div>
</div>




<div class="container text-center position-relative mt-5" >
    <div class="">
        
            <img src="~/imagenes/Difusion.jpg" alt="foto monjita" class="img-bg w-100 ms-auto d-block" />
       
    </div>

    <h1 class="titulo-superpuesto" style="margin:0.5rem;">
        ¿DONDE NOS UBICAMOS?
    </h1>
</div>

<div class="container">
   
    <div class="col d-flex flex-column justify-content-center text2 p-3"> 
            <p class="texto-wrapper text-center p-4">
            <i class="bi bi-geo-alt-fill m-3"></i>Frente al Colegio Particular San Francisco de Asís, en la calle Ramón Castilla Nro. 752, distrito de Cayma.
            </p>
    </div>

</div>





